<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Feira Vocaional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-principal">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Programação Geral</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda Vocacional</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
